# Node modules
node_modules/
server/.env

# Environment variables (secrets)
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Coverage folder
coverage/

# Optional: ignore uploads
uploads/